body {
    background: rgb(223, 248, 195);
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    /* text-align: center; */
    margin: auto;
    /* display: block; */
}

h1 {

}